@media (min-width: 1200px) {
    /*.row-fluid .span3 {
        width: 23.476923076923077%;
    }*/
    /*#block-region-side-post {
        margin-left: 2.064102564102564%;
    }*/
    .row-fluid [class*="span"] {
        margin-left:1.064103%;
    }
    .row-fluid .span6 {
        width:60.817949%;
    }
    .row-fluid .span3 {
        width:18.5%;
    }
    #block-region-side-pre.span3 {
        width:23.3%;
    }
    .row-fluid .span9 {
        width:79.458974%;
    }
    #region-main.span9 {
        width:74.3%;
    }
    .empty-region-side-post #block-region-side-pre.span3,
    .empty-region-side-pre #block-region-side-post.span3 {
        width:18.5%;
    }
    .empty-region-side-post #region-main.span9,
    .empty-region-side-pre #region-main.span9 {
        width:79.3%;
    }
    .two-column #block-region-side-pre.span3 {
        width:18.5%;
    }
    .two-column #region-main.span9 {
        width:79.3%;
    }
    /*.empty-region-side-post #region-bs-main-and-pre.span9, 
    .empty-region-side-pre #region-bs-main-and-post.span9, 
    .empty-region-side-post #region-bs-main-and-post.span9 #region-main.span12 {
        width:80.358974%;
    }*/
    .userprofile dl.list dd {
        margin-left: 170px;
    }
    .row-fluid .span4 {
        width: 32.6239%;
    }
    #page-header #profilepic ul {
        text-align:center;
    }
}
@media (min-width: 980px) and (max-width: 1199px) {
    .row-fluid [class*="span"] {
        margin-left:1.064103%;
    }
    .row-fluid .span3 {
        width:22.5%;
    }
    #block-region-side-pre.span3 {
        width:30.3%;
    }
    #region-main.span9 {
        width:67.3%;
    }
    .row-fluid .span9 {
        width:75.458974%;
    }
    .empty-region-side-post #block-region-side-pre.span3,
    .empty-region-side-pre #block-region-side-post.span3 {
        width:30.3%;
    }
    .empty-region-side-post #region-main.span9,
    .empty-region-side-pre #region-main.span9 {
        width:67.3%;
    }
    .two-column #block-region-side-pre.span3 {
        width:28.5%;
    }
    .two-column #region-main.span9 {
        width:69.3%;
    }
    /*.empty-region-side-post #region-bs-main-and-pre.span6, 
    .empty-region-side-pre #region-bs-main-and-post.span6, 
    .empty-region-side-post #region-bs-main-and-post.span6 #region-main.span12 {
        width:76.358974%;
    }*/
    .userprofile dl.list dd {
        margin-left: 170px;
    }
    .row-fluid .span4 {
        width: 32.6239%;
    }
    #page-header #profilepic ul {
        text-align:center;
    }
    ul.socials {
        display:inline-flex;
    }
}
@media (max-width: 979px) {
    .navbar-fixed-top {
        margin-bottom: 0px;
    }
    .navbar .nav-collapse.in>.nav .dropdown-menu li>a:hover,
    .navbar .nav-collapse.in>.nav li>a {
        background-color: #033E83 !important;
        color: #fff;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .row-fluid [class*="span"] {
        margin-left:1.064103%;
    }
    .row-fluid .span3 {
        width:26.8%;
    }
    .row-fluid .span9 {
        width:71.309392%;
    }
    #block-region-side-pre.span3 {
        width:37.8%;
    }
    #region-main.span9 {
        width:59.3%;
    }
    .empty-region-side-post #block-region-side-pre.span3,
    .empty-region-side-pre #block-region-side-post.span3 {
        width:30.3%;
    }
    .empty-region-side-post #region-main.span9,
    .empty-region-side-pre #region-main.span9 {
        width:67.3%;
    }
    /*.empty-region-side-post #region-bs-main-and-pre.span6, 
    .empty-region-side-pre #region-bs-main-and-post.span6, 
    .empty-region-side-post #region-bs-main-and-post.span6 #region-main.span12 {
        width:73.358974%;
    }*/
    .userprofile dl.list dd {
        margin-left: 170px;
    }
    nav .nav-collapse .nav > li > a, nav .nav-collapse .dropdown-menu a {
        color: #fff;
    }
    .navbar ul.nav li ul.dropdown-menu li [class^="fa fa-"] {
        color: #fff !important;
    }
    .navbar ul.nav li ul.dropdown-menu li:hover [class^="fa fa-"]  {
        color: #033E83 !important;
    }
    #profilepic {
        margin-right:35px;
    }
    ul.socials {
        display:inline-flex;
    }
}
@media (max-width: 767px) {
    nav .nav-collapse .nav > li > a, nav .nav-collapse .dropdown-menu a {
        color: #fff;
    }
    .navbar ul.nav li ul.dropdown-menu li [class^="fa fa-"] {
        color: #fff !important;
    }
    .navbar ul.nav li ul.dropdown-menu li:hover [class^="fa fa-"]  {
        color: #033E83 !important;
    }
    header .container-fluid .row-fluid {
        position: relative;
    }
    header .container-fluid .row-fluid div {
        position: absolute;
    }
    header .container-fluid .row-fluid .span1 {
        padding-right: 10px;
    }
    header .container-fluid .row-fluid .span3 {
        padding-right: 80px;
    }
    body {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #page {
        padding-left:10px;
        padding-right:10px;
    }
}
@media (max-width: 660px) {
    header .container-fluid .row-fluid .span3 {
        display:none;
    }
}
@media (max-width: 440px) {
    #page-header a.logo {
        height: 50px !important;
        margin-top: 25px !important;
    }
}
body {
    background:none !important;
    background-color:#fefefe !important;
    border-top:none !important;
    /*font-family: "Open Sans", sans-serif;*/
}
th,td {
    padding:.5em;
}

/* Headings. */
h1 { 
    font-size: 30px; // ~32px
}
h2 { 
    font-size: 26px; // ~28px
} 

ul, ol {
    margin: 0 0 10px 30px;
}
a, a:visited {
  color: #0070a8;
}
code, pre {
    /*font-family: "OpenSans",Arial,Helvetica,sans-serif;*/
    word-wrap: normal;
    font-size:14px;
}
.block .content {
    padding:4px 5px;
}
.block .header .block_action {
    padding:1px 0px;
}
.editing .block .header .commands {
    padding:3px 0px;
}
.editing .block .header .commands img.iconsmall {
    padding: 0px;
}
.comment-list .comment-message {
    font-size:12px;
}
/*blockquote, ul, ol, dl {
    margin: 1em;
}*/
table#user-grades .catlevel1, 
.user-grade td.oddd1, 
.user-grade td.evend1 {
    background-color:#f9f9f9 !important;
    border-top: 1px solid #ddd !important;
}
#categoryquestions .iconcol {
    width:20px;
}
#categoryquestions .checkbox {
    padding-left:5px;
}
#categoryquestions .checkbox input[type="checkbox"] {
    margin-left:0px;
}
.mform fieldset.collapsible legend a.fheader {
    margin-left:0px;
}
.form-item, .mform .fitem {
    margin-bottom:0px;
}
.path-user .userprofile .profilepicture {
    width: 120px;
    float: left;
    margin-top: 20px;
}
.path-user .userprofile .descriptionbox {
    float: left;
    max-width: 80%;
}
.path-user .userprofile .descriptionbox .description {
    margin-bottom:0px;
}
.block .header .title h2, .block h3.main {
    font-size:1.03em;
    margin-bottom:0px;
    margin-top:0px;
}
.block_settings .block_tree .tree_item {
    padding-left:0px;
}
.course_category_tree .category.with_children.collapsed>.info .name {
    font-size:1.3em;
}
.course_category_tree .category>.info .name {
    padding:5px 18px;
}
.path-course-view .section .summary, .course-content ul.topics li.section li.label, .course-content ul.weeks li.section li.label {
    line-height:1.5;
}
.section .activity.modtype_label .commands {
    margin-left:0px;
}
.forumpost .options .commands, .forumpost .content .attachments, .forumpost .options .footer, .forumpost .options .link {
    font-family: "Open Sans", sans-serif;
}
.mod-data-default-template .controls {text-align:left;}
.mod-data-default-template .comment-area .fd {text-align:left;}
.path-mod-page .modified {
    font-size: 12px;
    font-style: italic;
    border-top: 1px dotted #ddd;
    margin-top:10px;
}
.book_toc_bullets li.clearfix {
    /*display:inline;*/
}
.path-mod-book .book_toc_bullets li li {
    list-style:none;
}
#page-mod-journal-report .journaluserentry td.userpix img {
    max-width:initial;
}
#page-mod-journal-report .journaluserentry {
    border: 1px solid #ddd;
    margin-top:5px;
}
#page-mod-journal-index .cell {
    font-size:100%;
}
.path-mod-quiz div.feedback {
    color:#000;
}
#page-mod-quiz-edit .box.generalbox.questionbank {
    overflow-x:scroll;
}
#page-mod-quiz-edit div.question div.content div.points {
    right:70px;
    width:13.5em;
}
#page-mod-quiz-edit div.question div.content div.questioncontrols {
    width:65px;
}
.path-mod-glossary .glossarypost {
    border: 1px dotted #ddd;
    padding:5px;
}
.path-mod-glossary .glossarypost td.picture {
    padding-right:5px;
}
.path-mod-glossary .glossaryaddentry,
.path-mod-glossary .glossarydisplay .alphabet {
    text-align:center;
}
.path-calendar .maincalendar .eventlist .event {
    border-color:#ddd;
    padding:5px;
}
div.feedback_item_box_left, div.feedback_item_box_right {
    border: 1px dotted #ddd;
    margin-bottom:5px;
    padding:10px;
}
.dropdown [class^="fa fa-"] {
    vertical-align:initial !important;
}
#region-main {
    padding-right:0px;
}
#page-header {
    padding-top:0px;
    background:none !important;
}
#page-footer-space {
    height:50px;
}
#page-header .container-fluid {
    background: url(/theme/image.php?theme=utessential&component=theme&image=UTBanner) no-repeat;
    height:92px;
}
#page-header .fa-sm:hover {
    color:#222;
}
#page-header a.logo {
    height:63px;
    margin-top:15px;
}
.navbar ul.nav li ul.dropdown-menu li [class^="fa fa-"] {
    color:#033E83;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    color: #fff;
}
.breadcrumb-nav .breadcrumb {
    /*border-top:2px solid #ddd;
    border-bottom: 2px solid #ddd;*/
    background-color:#eee;
    padding-left:7px;
    padding-right:7px;
}
.breadcrumb-nav {
    margin-bottom:3px;
}
.breadcrumb-button a:visited {
    color:#fff;
}
.website .fa-stack {
    vertical-align:top;
    margin-top:-5px !important;
}
ul.socials {
    margin:0;
}
ul.socials .website:hover {
    color:#033E83;
}
a .back-to-top, .purgecaches {
    display:none;
}
#page-footer {
    margin-bottom:0px;
}
legend, legend a {
    font-size:16px !important;
    background-color:#f5f5f5;
    font-style:italic;
}
.block .header .title h2:before {
    font-size:15px;
}
.course-content ul li.section.main {
    border:1px solid #e1e1e1;
    background-color:#fff;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    margin-bottom:25px;
    padding-top:10px;
}

#region-main-utessential section div[role="main"] div.course-content {
    border:1px solid #e1e1e1;
    background-color:#fff;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
#region-main-utessential section div[role="main"] div.course-content ul li.section div.content {
    margin-bottom:25px;
}
/*#region-main-utessential section div[role="main"] div.course-content img.icon {
    height:18px;
    width:18px;
}*/
table.flexible, .generaltable {
    border: 1px solid #ddd;
}
.mform label, 
.mform input, 
.mform button,
.mform select, 
.mform textarea,
.mform a {
    font-size:13px;
}
.submissionsummarytable input {
    font-size:13px;
}
#grade_edit_tree_table .lastrow {
    display:none;
}
#grade_edit_tree_table {
    border-width:1px 1px 1px 1px;
    border-style:solid;
    border-color:#ddd;
    border-collapse: separate;
}
#grade_edit_tree_table .category .rowspan {
    border-right: 1px solid #ddd;
}
.section .activity img.activityicon {
    margin-right:0px;
}
#page-footer .block .header .title {
    border-bottom:0px !important;
}
#page-footer .block .header .title h2 {
    font-family: "Oswald", sans-serif;
    font-size:20px;
    color:#0da9e3 !important;
    /*color:#eee;*/
    text-shadow:none;
}
img.userpicture {
    border-radius:250px;
    border: 1px solid #ddd;
}
#page-header #profilepic ul.socials img {
    margin-top:17px !important;
    width:60px;
    height:100%;
    border: 1px solid #ddd;
}
#page-footer .block .content {
    font-size:14px;
    color:#fefefe;
}
#page-footer .block_html ul li:before, #greyboxright ul li:before {
    background-color: #0da9e3;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 2px;
}
.footerlinks {
    text-align: center;
}
.footnote {
    width:100%;
}
#page-footer hr {
    border-top:0px;
}
#page-header .container-fluid .span3 {
    margin-top:30px !important;
}
/* Frontpage */
.da-slider {
    background:none;
}
.da-slide .da-link {
    box-shadow:none !important;
    font-weight:normal;
    border-radius: 5px;
    padding:3px 55px;
}
.da-slide p {
    font-size: 16px;
    font-style:normal;
}
.da-slide .da-link:hover {
    background-color: #084A97 !important;
    color:#fff;
}
.da-slide h2 {
    font-family: "Oswald", sans-serif;
    font-size:36px;
}
#middle-blocks .service {
    border-bottom:1px solid #ddd;
}
#middle-blocks .service h5 {
    font-family: "Oswald", sans-serif;
    font-size:16px;
}
#middle-blocks .service .marketing-button {
    text-align:right;
}
#middle-blocks .span4:first-child a#button {
    background-color:#E87E04 !important;
}
#middle-blocks .span4:nth-child(2) a#button {
    background-color:#00BC9A !important;
}
#middle-blocks .span4:nth-child(3) a#button {
    background-color:#00A8E6 !important;
}
#middle-blocks .span4:first-child a#button:hover {
    background-color:#F5880B !important;
}
#middle-blocks .span4:nth-child(2) a#button:hover {
    background-color:#0CCFAC !important;
}
#middle-blocks .span4:nth-child(3) a#button:hover {
    background-color:#10B8F6 !important;
}

#block-region-footer-left .block .header .title h2:before {
    content: "\f144 ";
    display:inline;
    color:#0da9e3 !important;
    /*color:#eee;*/
}
#block-region-footer-middle .block .header .title h2:before {
    content: "\f0c9 ";
    display:inline;
    color:#0da9e3 !important;
    /*color:#eee;*/
}
#block-region-footer-right .block .header .title h2:before {
    content: "\f040 ";
    display:inline;
    /*color:#eee;*/
    color:#0da9e3 !important;
}
.navbar-inner{
    border-radius: 0px;
    line-height: 0px;
    background-image: none;
    filter:none;
}
.block_settings .block_tree li.item_with_icon > p img {
    position: relative;
    margin-right:3px;
}
.section .activity .contentwithoutlink, .section .activity .activityinstance {
    min-height:20px;
}
.moodle-actionmenu[data-enhanced].show .menu a {
    padding:2px 1em 2px 14px;
}
.moodle-actionmenu[data-enhanced].show .menu a .fa {
    display:inline;
    margin-right:5px;
}
.moodle-actionmenu[data-enhanced].show .menu .iconsmall, .moodle-actionmenu[data-enhanced].show .menu
.smallicon {
    margin: 0px;
}
.path-mod-choice .expired {
    font-weight:bold;
    text-align:center;
    font-size:16px;
    color:#CC4216;
}
#page-footer .block_rss_client ul {
    margin-top:0px;
    margin-bottom:0px;
}
#page-footer .block_rss_client .content .title,
#page-footer .block_rss_client .content .footer {
    text-align:center;
}
#page-footer .block_rss_client ul li:before {
    content: "\f105";
    color: #fff;
    font-family: FontAwesome;
    display:inline-block;
    width:8px;
    height:13px;
    margin-right:5px;
}
#page-footer .block_rss_client ul li {
    border: 0px;
    margin-bottom:7px;
    padding:0px;
}
#page-footer .block_rss_client ul li .link {
    display:inline;
}
#page-footer .block_rss_client .content a {
    color:#fff !important;
}
#navbarcoursesearch {
    padding:8px 15px;
}
#navbarcoursesearch input {
    padding:2px;
    margin:0px;
    vertical-align: top;
    height:17px;
    font-size:12px;
}
#navbarcoursesearch button {
    margin-bottom:0px;
}
.course-content .moodle-actionmenu .editing_assign,
.section .filler {
    display:none;
}
ul.socials a.youtube:hover {
    color:#ff0000;
}
ul.socials a.facebook:hover {
    color: #033E83;
}
ul.socials a.twitter:hover {
    color: #08c;
}
.loginbox .potentialidps .potentialidplist {    
    margin-left:0px;
    width:100%;
}
.loginbox .potentialidps .potentialidplist div {   
    text-align:center;
    display: inline;
}
.loginbox h3, .loginbox .subcontent {
    text-align:center;
}
.loginbox .loginform .form-input input {
    width:10em;
}
.loginbox .loginform .form-label {
    width:45%;
}
.loginbox .loginform .form-input {
    width:54%;
}
/* Incase login page will include instructions.
.loginbox .loginform .form-label {
    width:39%;
}
.loginbox .loginform .form-input {
    width:60%;
}
*/
.loginbox .subcontent {
    padding:0px;
}
#region-main .course-name {
    margin-left: 7px; 
    text-transform: uppercase; 
    color: #0070a8;
    line-height:27px;
}
div[role=listbox].mceListBoxMenu div[role=presentation].mceMenu.mceListBoxMenu.moodleSkin {
    height:190px !important;
}
th, td {
    padding: .5em;
}
.logininfo a.login-button {
    font-size: 1em;
    padding: 6px 15px;
    background-color: #00BC9A !important;
    border-radius: 5px;
    text-decoration: none !important;
}
.logininfo a.login-button:hover {
    background-color: #0CCFAC;
}
#page-login-index .service {
    border-width: 1px 1px 1px;
}
#page-login-index .service h5 {
    font-family: "Oswald",sans-serif;
    font-size: 16px;
}
/* -- 11.02.2015 Sub and Superscript override */
/* Override for sub and sub characters */
sup{
    top: 0em;
}

sub{
    bottom: 0em;
}

/* -- 02.03.2015 Pika testküsimuse override */
/*.formulation select {
    height:auto;
    white-space: normal;
    width: 100% !important;
}*/

/* 11.08.2015 - Override bootstraps .row class. */
.row {
    background-color: transparent !important;
}

/* 11.07.2016 - Hide lightboxgallery download link in a course */
.course-427 #bottomNavDownload {
    display: none;
}

/* 12.07.2016 - Add space after lists */
.no-overflow ol, .no-overflow ul{
    margin-bottom: 10px;
}

/* MOODLE-479 10.08.2016 - Grading table width for Feedback */
#page-mod-assign-view .gradingtable .c6 textarea,
#page-mod-assign-view .gradingtable .c7 textarea {
    width: 110px;
}
/* MOODLE-479 10.08.2016 - Grading table width for Online text */
#page-mod-assign-view .gradingtable .c11 p,
#page-mod-assign-view .gradingtable .c12 p {
    width: 260px;
}
/* MOODLE-479 30.08.2016 - Hide portfolio link from Grading table */
#page-mod-assign-view .portfolio-add-link {
    display: none;
}
/* 31.08.2016 - Hide Tuhjenda kursus button from enrol/users table */
#page-enrol-users input#id_resetbutton {
    display:none;
}

/* 05.01.2016 - Hide broken box icon from Feedback */
#page-mod-feedback-edit .editing_update::before {
    display:none;
}

/* 05.01.2016 - Text aligment in groupselect view */
#page-mod-groupselect-view .c1 {
    text-align: left!important;
}
#page-mod-groupselect-view .c2 {
    text-align: center!important;
}

/* 12.09.2016 - Fix save button being cut off */
#page-mod-quiz-edit form.quizsavegradesform {
    margin-left: -6px;
}

/* 21.09.2016 Hide Tab Display Embed webpage option */
#page-mod-tab-mod [id^=fitem_id_externalurl_] {
    display:none;
}

/* Hide Tab Display Vertical menu option */
#page-mod-tab-mod #id_menu {
    display: none;
}

/* Multianswer quiz select boxes */
.path-mod-quiz .que.multianswer .formulation select {
    padding: 0px;
    margin: 0px;
    height: 22px;
}

/* Course 4065 sectionnames */
.course-4065 h3.sectionname {
    font-size: 1.4em;
    line-height: 20px;
    color: #46112b;
    font-weight: 600!important;
    padding: 10px 25px;
}

.course-4592 h3.sectionname {
    color: #0070a8;
}

/* Course 3338 sectionnames 17.02.17*/
.course-3338 h3.sectionname {
    font-size: 1.4em;
    color: #917b5e;
    line-height: 20px;
    text-align: center;
}

.path-mod-page pre {
    word-break: normal;
}
.block_settings .block_tree
.tree_item.branch {
    padding-left: 20px !important;
}
.block_settings .block_tree
p.hasicon {
    text-indent: 0px;
    padding-left: 0px;
}
.block_settings .block_tree
ul {
    margin-left: 10px;
}
.block_navigation .block_tree
.tree_item.branch {
    padding-left: 0px;
}

.block_navigation .block_tree
ul {
    margin-left: 21px;
}
.usermenu .moodle-actionmenu .toggle-display a,
.usermenu .moodle-actionmenu .toggle-display .userbutton
.usertext, .jsenabled .usermenu .moodle-actionmenu .toggle-display.textmenu {
    color: #fff !important;
}
.usermenu .moodle-actionmenu ul.menubar {
    background-color: #033E83 !important;
}
.usermenu .moodle-actionmenu ul.menubar a {
    text-decoration: none;
}
.usermenu .moodle-actionmenu ul.menu li i.fa-user {
    margin-left: -20px;
    margin-right: 10px;
}
.jsenabled .usermenu .moodle-actionmenu .toggle-display
.caret { 
    top: 13px;
    left: 5px;
}
.jsenabled .usermenu .moodle-actionmenu.show .menu a:hover {    
    background-color: #033E83 !important;
    background-image: none;
}
.section .activity .mod-indent-outer {
    padding-left: 0px;
}
body:not(.jsenabled) .langmenu:hover>.dropdown-menu, .langmenu.open>.dropdown-menu {
    max-height: 250px;
}
#page-user-preferences .preferences-group .fa-circle:before {
    content: "";
}
.moodle-actionmenu[data-enhanced].show
.menu {
    width: 150px;
}
.setup-grades tr.item:hover {
    background: #f9f9f9;
}
.preferences-group {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 15px;
    margin-bottom: 20px;
    background-color: #fff;
}
#toggle-all .content .toggle-arrow h4 span.on,
#toggle-all .content .toggle-arrow h4 span.off {
    padding-left:20px;
}
.section_action_menu .moodle-actionmenu ul.menubar,
.section_action_menu .moodle-actionmenu[data-enhanced] .menu-action-text {
    display: none;
}
.section_action_menu .moodle-actionmenu[data-enhance] .menu,
.section_action_menu .moodle-actionmenu>ul>li {
    display:block;
}
.course-content ul.topics li.section .summary {
    margin-left:2px;
}
.dir-ltr .usermenu {
    line-height: 40px;
}
.moodle-actionmenu[data-enhanced].show .menu {
    width: auto;
}